{% load tags %}
<div id="message-{{message.id}}" class="{% if message.sender == request.user %}message-parent{% else %}message-parent-reverse {% endif %} ">
                        <div style="color: blue; float: left; align-self: center;">
                                <i class="far fa-check-circle unseen" title="تم الارسلال"></i>
                                <i class="fas fa-check-circle seen" title="تمت المشاهدة"></i>
                        </div>
                        <div class="message" style="display: flex; flex-direction: column;align-items: flex-end;">
                        	{% if message.reply %}
                            <p class="div-reply-message">{{message.reply.content|truncatechars:30}}</p>{% endif %}
                            <p title="تاريخ الارسال" class="actually-message">{{message.content}}</p>
                            {% if message.media.all %}
                            {% for m in message.media.all %}
                            {{m|videoEx}}
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="message-options" style="align-self: center;">
                            <i class="fas fa-ellipsis-h"></i> <!--التلت نقط اللى فوق بعض-->
                        </div>
                        <div class="decision scale-0 edit-reply-remove">
                            <div>تعديل</div>
                            <div class="reply">رد</div>
                            <div class="remove" data-id="{{message.id}}">حذف</div>
                        </div>

                    </div>