<a href="{% if message.sender != request.user %} {% url 'messages' message.sender.pk %} {% else %} {% url 'messages' message.receiver.pk %} {% endif %} ">
	<div class="chat">
		<img src="{% if request.user == message.sender %} {{message.receiver.pic}} {% else %} {{message.sender.pic}} {% endif %} " alt="img">
		<div>
			<h4>{% if request.user == message.sender %} {{message.receiver.name}} {% else %} {{message.sender.name}} {% endif %}</h4>
			<span>{{message.content}}</span>
		</div>
	</div></a>